;; shadow-cljs configuration
{:source-paths
 ["src/cljs"
  "src/cljc"
  "src/dev"]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :modules {:tourism {:init-fn lambdacart.tourism/init}}}

          :grid {:target :browser
                 :output-dir "public/js"
                 :modules {:grid {:init-fn lambdacart.grid/init!}}
                 :devtools {:http-host "0.0.0.0"
                            :http-port 9630
                            :ws-host "vn.bumble.fish"    ;; the domain the browser uses
                            :connect-url "wss://vn.bumble.fish/ws"
                            :after-load lambdacart.grid/mount-grid
                            :preloads [lambdacart.patches]}
                 }}}

;; npx shadow-cljs clj-repl
