;; shadow-cljs configuration
{:source-paths
 ["src/cljs"
  "src/cljc"
  "src/dev"]
 :builds {:main {:target :browser
                 :output-dir "public/js"
                 :modules {:main {:init-fn lambdacart.main/init!}}}

          :main-remote {:target :browser
                        :output-dir "public/js"
                        :modules {:main {:init-fn lambdacart.main/init!}}
                        :devtools {:devtools-url "/shadow-cljs" ;;behind nginx reverse proxy
                                   :after-load lambdacart.grid/init!
                                   :preloads [lambdacart.patches]}}

          :main-prod {:target :browser
                      :output-dir "public/js"
                      :compiler-options {:optimizations :advanced}
                      :modules {:main {:init-fn lambdacart.main/init!}}}
          
          :grid {:target :browser
                 :output-dir "public/js"
                 :modules {:grid {:init-fn lambdacart.grid/init!}}
                 :devtools {:after-load lambdacart.grid/mount-grid
                            :preloads [lambdacart.patches]}}
          
          :grid-remote {:target :browser
                        :output-dir "public/js"
                        :modules {:grid {:init-fn lambdacart.grid/init!}}
                        :devtools {:devtools-url "/shadow-cljs" ;;behind nginx reverse proxy
                                   :after-load lambdacart.grid/mount-grid
                                   :preloads [lambdacart.patches]}}
          :grid-prod {:target :browser
                      :output-dir "public/js"
                      :compiler-options {:optimizations :advanced}
                      :modules {:grid {:init-fn lambdacart.grid/init!}}}}}

;; npx shadow-cljs clj-repl
