;; shadow-cljs configuration
{:source-paths
 ["src/cljs"
  "src/cljc"
  "src/dev"]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :modules {:tourism {:init-fn lambdacart.tourism/init}}}

          :grid {:target :browser
                 :output-dir "public/js"
                 :modules {:grid {:init-fn lambdacart.grid/init!}}
                 :devtools {:after-load lambdacart.grid/mount-grid
                            :preloads [lambdacart.patches]}}
          
          :grid-remote {:target :browser
                        :output-dir "public/js"
                        :modules {:grid {:init-fn lambdacart.grid/init!}}
                        :devtools {:devtools-url "/shadow-cljs" ;;behind nginx reverse proxy
                                   :after-load lambdacart.grid/mount-grid
                                   :preloads [lambdacart.patches]}}}}

;; npx shadow-cljs clj-repl
